<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom" class="nexus-tab-bar">
    <ion-tab-button tab="archive">
      <ion-icon name="time-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="database">
      <ion-icon name="server-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home" class="active-home">
      <div class="home-box">
        <ion-icon name="home"></ion-icon>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
