<ion-content [fullscreen]="true">
  <div class="home-wrapper">

    <div class="brand-container">
      <div class="nexus-logo-circle">
        <img src="assets/icon/nexus-logo.png" alt="NEXUS" />
      </div>
      <h1 class="brand-name">NEXUS</h1>
    </div>

    <div class="section-container">
      <h2 class="section-title">Archive</h2>

      <ion-card class="nexus-card">
        <ion-item lines="none" class="nexus-item">
          <ion-label>
            <h3>Titre</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </ion-label>
          <ion-note slot="end">25 m</ion-note>
        </ion-item>
      </ion-card>

      <ion-card class="nexus-card">
        <ion-item lines="none" class="nexus-item">
          <ion-label>
            <h3>Titre</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </ion-label>
          <ion-note slot="end">25 m</ion-note>
        </ion-item>
      </ion-card>
    </div>

  </div>
</ion-content>
